.full-screen-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 24px;
	-webkit-font-smoothing: antialiased;
	counter-reset: my-sec-counter;
}

.content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	width: 100%;
}

.navigation-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #CC3366;
	color: #fff;
	margin-top: 10px;
	width: 1100px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 10px 30px;
	border-radius: 60px;
}


.navigation-bar.fixed {
	position: fixed;
	top: 0;
	margin-top: 0;
	z-index: 50;
	animation: fadeIn 0.5s forwards, fadeDown 0.5s forwards;
	/* Fade-in animation */
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeDown {
	from {
		transform: translateY(-20px);
	}

	to {
		transform: translateY(0);
	}
}

.small-logo {
	display: flex;
	align-items: center;
	gap: 10px;
	/* Adjust the gap between items as needed */
}

.tab-menu>ul {
	padding: 0;
	margin: 0;
	display: flex;
	/* Use flexbox for the list */
}

.tab-menu>ul>li {
	position: relative;
	display: inline-block;
}

.tab-menu>ul>li>a {
	text-decoration: none;
	color: #fff;
	padding: 10px 15px;
	display: block;
	transition: color 0.3s ease;
}

.tab-menu>ul>li>a:hover {
	color: #333;
}

.tab-menu>ul>li>a.active-link {
	color: #333;
	/* Change color for active and hover state */
}

.navigation-icons {
	border-left: 1px solid rgba(255, 255, 255, 0.15);
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.navigation-icons>ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.navigation-icons li {
	display: inline-block;
}

.navigation-icons ul>li>a {
	display: block;
	width: auto;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
	margin-left: 20px;
}

.menu-toggle {
	background: none;
	border: none;
	color: #fff;
	cursor: pointer;
	position: relative;
	display: none;
	z-index: 1000;
	transition: transform 0.3s ease;
}

.menu-toggle.open {
	transform: rotate(90deg);
}

.side-menu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	background-color: #CC3366;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.side-menu.open {
	width: 200px;
}

.side-menu .close-btn {
	position: absolute;
	top: 20px;
	right: 25px;
	font-size: 36px;
	background: none;
	border: none;
	color: #fff;
	cursor: pointer;
}

.side-menu .close-btn:hover {
	color: #333;
}

.side-menu ul {
	list-style: none;
	padding: 0;
}

.side-menu ul li {
	padding: 8px 8px 8px 32px;
	text-align: left;
}

.side-menu ul li a {
	text-decoration: none;
	/* Remove text decoration */
	color: #fff;
	display: block;
	transition: 0.3s;
	font-size: 25px;
}

.side-menu ul li a:hover {
	color: #333;
}

.side-menu>ul>li>a.active-link {
	color: #333;
	/* Change color for active and hover state */
}

.scroll-top {
	position: fixed;
	bottom: -200px;
	right: 20px;
	width: 40px;
	height: 40px;
	background-color: #CC3366;
	color: #fff;
	border: none;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: opacity 0.3s ease, visibility 0.3s ease;
	opacity: 0;
	z-index: 50;
}

.scroll-top.show {
	opacity: 1;
	bottom: 20px;
	animation: fadeIn 3s forwards, fadeDown 1.5s forwards, pulse 2s infinite;
}

.scroll-top.hide {
	opacity: 0;
	bottom: 20px;
	animation: fadeOut 0.5s forwards, fadeUp 1.5s forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fadeUp {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-20px);
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 #CC3366;
	}

	70% {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}


.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 998;
	display: none;
}

.overlay.open {
	display: block;
}

@media (min-width: 1200px) {
	.full-screen-container {
		padding-bottom: 90px;
	}
	
}

@media (max-width: 1140px) {
	.full-screen-container {
		font-size: 10px;
	}

	.navigation-bar {
		width: 90%;
	}
}

@media (max-width: 730px) {
	.tab-menu>ul>li>a {
		padding: 10px 5px;

	}

	.navigation-icons ul>li>a {
		margin-left: 10px;
	}
}

@media (max-width: 600px) {
	.tab-menu>ul>li>a {
		display: none;
	}

	.navigation-icons {
		border-left: none;
	}

	.menu-toggle {
		display: block;
	}

	.navigation-bar {

		width: 100%;
		border-radius: 0px;
		margin-top: 0;
	}
}

.blob {
	background: black;
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}