<div class="tab-container">
	<img src="./../../assets/app-logos/criatulogo.png" alt="Criatulogo" class="primary-image"
		[ngStyle]="{'max-width': imageMaxWidth}">

	<div class="social-icons">

		<a href="https://www.instagram.com/cria.tu/" target="_blank" class="social-link">
			<img src="../assets/social-logos/Instagram_Glyph_Gradient.png" alt="Instagram" width="30" height="30">
		</a>
		<a href="https://www.etsy.com/uk/shop/CriaTuHandmade" target="_blank" class="social-link">
			<img src="../assets/social-logos/etsy.png" alt="Etsy" width="50" height="23.7">
		</a>
		<a href="https://www.facebook.com/criatu.art" target="_blank" class="social-link">
			<img src="../assets/social-logos/Facebook_Logo_Primary.png" alt="Facebook" width="30" height="30">
		</a>
	</div>
	<div class="contact-section">
		<h2>Contact Us</h2>
		<a href="mailto:cria.tu@outlook.com">cria.tu&#64;outlook.com</a>
	</div>

	<div class="gallery-container">
		<div class="mb-5" [ngClass]="width">
			<gallery [items]="images" [thumbPosition]="thumnailPosition" thumbs thumbSlidingDisabled="false"
				[autoplay]="true" [autoHeight]="false" [imageSize]="'contain'" bullets bulletPosition="bottom" counter
				counterPosition="top">
			</gallery>
		</div>

	</div>
</div>